{% extends 'base.html' %} {% block title %} Login {% endblock %} <span></span>
{% block content %} {% include 'partials/alert.html' %}
<div class="row">
  <div class="container">
    <div
      class="col-md-8 mt-5 mx-auto justify-content-center align-items-center"
    >
      <div class="rounded border border-primary m-5 shadow p-5">
        <h1 class="text-primary">LOGIN</h1>
        <p>Please, use the following form to log-in:</p>

        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <p>
            <input
              class="btn btn-primary text-dark btn-lg"
              type="submit"
              value="Log in"
            />
          </p>
        </form>
        <p>
          <a class="text-muted" href="{% url 'accounts:signup' %}"
            >Don't Have Your Account? Just SignUp</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
