{% extends 'base.html' %} {% block title %} SignUp {% endblock %}
<span></span>{% block content %} {% include 'partials/alert.html' %}
<div class="row bg-light">
  <div class="container">
    <div
      class="col-md-6 mt-3 mx-auto justify-content-center align-items-center"
    >
      <div
        class="border border-primary shadow py-3 px-5 mb-4 text-dark bg-white rounded"
      >
        <h1 class="mb-0 text-center text-primary">SIGN UP</h1>
        <p class="text-center font-weight-bold">Create Your Account</p>

        <form class="form" method="post">
          {% csrf_token %} {% for field in user_form %}
          <div class="fieldWrapper form-group mb-2">
            {{ field.errors }} {{ field.label_tag }} {{ field }}
          </div>
          {% endfor %}
          <p>
            <input
              class="btn btn-primary text-dark btn-lg px-5"
              type="submit"
              value="Sign Up"
            />
          </p>
        </form>
        <p>
          <a class="text-muted" href="{% url 'accounts:login'%}"
            >Already Account? Just LogIn</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
