{% extends 'base.html' %}

{% block content %}
{% include 'partials/jumbotron.html' %}
<div class="row my-2">
  <div class="offset-1 col-3 offset-md-1 col-md-3 mt-3">
    <div class="card bg-primary text-dark mb-5 ">
      <div class="card-header font-weight-bold">
        Most Viewed Contacts
      </div>
      <ul class="list-group list-group-flush">
        {% for obj in featured %}
        <li class="list-group-item">
          <a
            href="{% url 'contacts:detail' author=obj.author author_id=obj.author.id slug=obj.slug %}"
            >{{ obj.name|upper }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
 
    <div class="card bg-secondary text-primary ">
      <div class="card-header font-weight-bold">
        Search Tags
      </div>
      <div class="card-body bg-white">
        {% for tag in tags %}
          <a
          class="text-decoration-none"
            href="?q={{tag}}"
            >
            <span class="badge badge-primary text-dark">{{ tag|upper }}</span>
          </a>
        {% endfor %}
        </div>
    </div>
  </div>
  <div class="col-8 col-md-8">
    {% for obj in objects %}
    <div class="card shadow border-primary d-inline-block mx-3 mb-3" style="width: 22rem;">
      <div class="card-header text-dark bg-light">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-pencil-square"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
          />
          <path
            fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
          />
        </svg>
        <span class="text-primary"> {{obj.author|truncatechars_html:20}}</span>
        <li class="float-right list-unstyled">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-clock"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"
          />
          <path
            fill-rule="evenodd"
            d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"
          />
        </svg>
        <span class="text-primary">{{obj.created|date}}</span></li>
      </div>
      <img
        width="300px"
        height="200px"
        src="/media/{{ obj.image }}"
        class="card-img-top"
        alt="..."
      />
      <div style="height: 6rem;" class="card-body">
        <h6 class="card-title text-dark font-weight-bold text-justify h6">{{ obj.name }}</h6>
        
        <a
          href="{% url 'contacts:detail' author=obj.author author_id=obj.author.id slug=obj.slug %}"
          class="btn btn-primary text-dark font-weight-bold"
          >Read Profile...</a
        >
      </div>
      <div class="card-footer text-dark bg-light">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-eye-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
          />
        </svg>
       <h5 class="badge badge-primary">{{obj.views}}</h5> 
        <li class="float-right list-unstyled">
        <svg
          class="text-right"
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-tags-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 7.586 1H3zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
          />
          <path
            d="M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"
          />
        </svg>
        {% for tag in obj.search_tags.names %}
        {% if forloop.last %}
        <a class="badge badge-primary text-dark" href="/?q={{tag}}">
          {{tag}}</a>   
        {% else %}
        <a class="badge badge-primary text-dark" href="/?q={{tag}}">
          {{tag}}</a> ,   
        {% endif %}
        {% endfor %}
      </div></li>
    </div>
    {% empty %}
    <div class="d-flex pt-5 justify-content-center align-items-center ">
      <p class="shadow-lg bg-primary mt-5 p-5 shadow h1 text-dark">User have no post</p>
    </div>
    {% endfor %}
     <!-- new pagination try -->
     {% if page_obj.has_other_pages %}
     <br>
     <nav  class="d-flex justify-content-center "  aria-label="...">
     <ul class="pagination ">
       {% if page_obj.has_previous %}
         <li class="page-item"><a class="page-link"  href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
       {% else %}
         <li class="page-item "><span class="page-link">Previous</span></li>
       {% endif %}
       {% for i in page_obj.paginator.page_range %}
         {% if page_obj.number == i %}
           <li  class="page-item active"><span class="page-link">{{ i }} <span class="page-link sr-only">(current)</span></span></li>
         {% else %}
           <li class="page-item"><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
         {% endif %}
       {% endfor %}
       {% if page_obj.has_next %}
         <li class="page-item"><a class="page-link"  href="?page={{ page_obj.next_page_number }}">Next</a></li>
       {% else %}
         <li class="page-item "><span class="page-link">Next</span></li>
{% endif %}
</ul>
</nav>
{% endif %}
  </div>
</div>

{% endblock %}
